body
{
    margin: 0;
    padding: 0;
    background: #000;
}

#game-area
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    min-width: 468px;
    min-height: 596px;
    margin: auto;
}

#game-output
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#mainMenu
{
    position: absolute;
    width: 280px;
    height: 330px;
    top: 50%;
    left: -50%;
    margin-top: -165px;
    margin-left: -140px;
    z-index: 3;
    transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
}

#mainMenu.visible
{
 	left: 50%;
}

#mainMenu #title
{
    height: 37px;
    background: url(../images/title.png) no-repeat center center;
}

#mainMenu #buttons
{
    position: absolute;
    left: 0;
    bottom: 0;
}

#mainMenu .button
{
	width: 260px;
	height: 42px;
    margin-top: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2) no-repeat center center;
}

#mainMenu #newGameButton
{
    background-image: url(../images/newgame.png);
}

#mainMenu #continueGameButton
{
    background-image: url(../images/continue.png);
}

#mainMenu .hidden-button
{
    display: none;
}

#hud
{
    font-family: Verdana, sans-serif;
    font-size: 12px;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    color: #0f0;
    right: 0;
    bottom: 0;
    font-size: 10px;
    font-weight: bold;
    overflow: hidden;
}

#hud .bar
{
    left: 0;
    right: 0;
    position: absolute;
    height: 35px;
}

#hud #topBar
{
    top: -35px;
    transition: top 0.5s ease-in-out;
    -o-transition: top 0.5s ease-in-out;
    -webkit-transition: top 0.5s ease-in-out;
    -moz-transition: top 0.5s ease-in-out;
}

#hud.visible #topBar
{
    top: 0;
}

#hud .bar .display
{
    font-size: 10px;
    position: absolute;
    white-space: nowrap;
    text-transform: uppercase;
}

#hud #levelDisplay
{
    left: 8px;
    top: 6px;
}

#hud #scoreDisplay
{
    right: 8px;
    top: 6px;
}

#hud #shipsDisplay
{
    left: 128px;
    top: 6px;
}

#hud .value
{
    color: #0f0;
	margin: 0 8px;
    position: relative;
    top: 1px;
    font-weight: bold;
    font-size: 14px;
}

#gameCanvas
{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #000;
    background-position: center center;
}

#stateLabel
{
    position: absolute;
    left: 16px;
    right: 16px;
    top: 33%;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0, 255, 0, 0);
    transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    text-transform: uppercase;
}

#stateLabel .detail
{
    font-size: 13px;
    display: block;
    margin-top: 1em;
}

#stateLabel .level
{
	display: block;
	font-size: 64px;
}

#stateLabel .score
{
	display: block;
	font-size: 50px;
}

#stateLabel.visible
{
    color: rgba(96, 255, 96, 0.66);
}
